<div class="card-images">
  <swiper [slidesPerView]="4" [slidesPerGroup]="4" [loop]="true" [loopFillGroupWithBlank]="true" [pagination]="{
      clickable: true
    }" [navigation]="true" [breakpoints]="{
      '568': {
        slidesPerView: 1
      },
      '768': {
        slidesPerView: 2
      },
      '1024': {
        slidesPerView: 4
      }
    }" class="mySwiper">
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90409.png" class="card-img1" alt="img-1" />
      <div class="slider-text">
        <h3>Beauty</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90410.png" class="card-img1" alt="img-1" />
      <div class="slider-text">
        <h3>Entertainment</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90411.png" class="card-img1" alt="img-1" />
      <div class="slider-text">
        <h3>F & B</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90412.png" class="card-img1" alt="img-1" />
      <div class="slider-text">
        <h3>Fashion</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90411.png" class="card-img1" alt="img-1" />
      <div class="slider-text">
        <h3>F & B</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90412.png" class="card-img1" alt="img-1" />
      <div class="slider-text">
        <h3>Fashion</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90410.png" class="card-img1" alt="img-1" />
      <div class="slider-text">
        <h3>Entertainment</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90409.png" class="card-img1" alt="img-1" />
      <div class="slider-text">
        <h3>Beauty</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90409.png" alt="img-1" class="card-img1" />
      <div class="slider-text">
        <h3>Beauty</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90412.png" alt="img-1" class="card-img1" />
      <div class="slider-text">
        <h3>Fashion</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90410.png" alt="img-1" class="card-img1" />
      <div class="slider-text">
        <h3>Entertainment</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90411.png" alt="img-1" class="card-img1" />
      <div class="slider-text">
        <h3>F & B</h3>
        <a class="view" href="/">View</a>
      </div>
    </ng-template>
  </swiper>
</div>