<div *ngIf="data">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-6">
                <img src={{data.image}} class="w-100 h-60">
            </div>
            <div class="col-md-6 m-auto">
                <h1>{{data.title}}</h1>
                <p>{{data.description}}</p>
                <p>{{data.price | currency}}</p>
                <!-- <p>{{data.rating.rate}}</p> -->
                <div class="rounded rating-badge">
                    <img src="https://img.icons8.com/ios-filled/2x/star.png" alt="star" class="star" height="15"
                        width="15" />
                    <span>{{data.rating.rate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>